#body-container{
    text-align: center;
    height: 100%;

}
#grid-container{
    display: grid;
    grid-template-columns : repeat(3,1fr);
    grid-template-rows : repeat(3,1fr);
    align-content: center;
   /* display: flexbox;
    height : 30em;*/
    height: 50%;
    width: 50%;
    margin-left: 25%;
}


.cell-class{
    text-align: center;
    padding: 60px 0;
    font-size: 100%;

}

#players-container{
    display: flex;
    height: 10%;
    width: 50%;
    margin-bottom : 30px;
    margin-left: 25%;

}

.player-contain{
    border-style: ridge;
    width: 50%;
}

#resetGame{
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
}